@font-face {
  font-family: "Vanderick";
  src: url("../fonts/Vanderick.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Vanderick";
}

body {
  display: grid;
  justify-content: center;
  align-content: space-around;
  background-color: #333;
}

main {
  box-shadow: 1px 1px 30px #777, -1px -1px 30px #777;
}

#canvas {
  width: 1296px;
  height: 720px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: nearest-neighbor;
}
