:root {
  --bg-clr: #333;
  --shadow-clr: #777;
  --width: 1296px;
  --height: 720px;
}

@font-face {
  font-family: "Vanderick";
  src: url("../fonts/Vanderick.woff") format("woff");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Vanderick";
}

body {
  display: grid;
  justify-content: center;
  align-content: space-around;
  background-color: var(--bg-clr);
}

main {
  box-shadow: 1px 1px 30px var(--shadow-clr), -1px -1px 30px var(--shadow-clr);
  max-width: var(--width);
  max-height: var(--height);
  width: 100%;
  height: 100%;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  cursor: crosshair;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-optimize-contrast;
  image-rendering: -o-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: optimizeSpeed;
  image-rendering: optimizeQuality;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
