@font-face {
  font-family: "customFont";
  src: url("/static/fonts/rubber-biscuit.bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  overflow: hidden;
  font-family: "customFont";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  box-shadow: 1px 1px 30px gray, -1px -1px 30px gray;
}

#canvas {
  width: 1280px;
  height: 720px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
