@font-face {
  font-family: "customFont";
  src: url("/static/fonts/rubber-biscuit.bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "customFont";
}
