@font-face {
  font-family: "customFont";
  src: url("/static/fonts/rubber-biscuit.bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  overflow: hidden;
  font-family: "customFont";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
